.error {
  padding: 100px 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  animation: fadeIn 2s ease-in-out;
}

.error h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.error p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #555;
}

.error .button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  background-color: #5151e5;
  color: white;
  font-size: 1em;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.error .button:hover {
  background-color: #333;
}
